.list {
    .list_news {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .title {
            font-size: 14px;
            text-decoration: none;
            line-height: 20px;
            color: #000;
        }

        .date {
            font-size: 12px;
            color: #8a8a8a;
            margin-top: 9px;
        }

        &:not(:nth-child(2)) {
            margin-top: 10px;
            border-top: 1px dotted #ccc;
            padding-top: 10px;
        }
    }
}