@import './color.scss';

* {
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  align-content: flex-start;
}

html {
  display: flex;
  min-height: 100%;

  body {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;

    #root {
      flex: 1;
      display: flex;
      flex-direction: column;

      #wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    .container {
      width: calc(100% - 30px);
      margin: 0 auto;
      max-width: 1400px;

      @media (max-width: 1230px) {
        width: 100%;
      }
    }

    .default_header {
      font-weight: bold;
      font-size: 18px;
      color: #555;
      margin: 0 0 20px 0;
      width: 100%;
      line-height: 20px;
      position: relative;
      padding: 15px;
      text-transform: uppercase;
      border: 1px solid #E6E6E6;
    }

    .default_title {
      font-weight: bold;
      font-size: 18px;
      color: #555;
      margin: 0 0 20px 0;
      width: 100%;
      line-height: 20px;
      position: relative;
      padding-left: 15px;

      &:before {
        content: "\f054";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 20px;
        font-size: 14px;
        color: $main_color;
      }
    }
  }
}