.main_content {
    flex: 1;
    margin: 30px auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        
        &.main {
            justify-content: space-between;
        }

        .news_list {
            margin: 0 0 30px 30px;
            width: calc(50% - 265px);
        }
    }
}